<div>
    <h2>
        <span jhiTranslate="wishApp.billingCard.home.title">Billing Cards</span>
        <button class="btn btn-primary float-right create-billing-card" [routerLink]="['/', { outlets: { popup: ['billing-card-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="wishApp.billingCard.home.createLabel">
            Create new Billing Card
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'wishApp.billingCard.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="billingCards">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="wishApp.billingCard.user">User</span></th>
            <th><span jhiTranslate="wishApp.billingCard.ab">Ab</span></th>
            <th><span jhiTranslate="wishApp.billingCard.maxab">Maxab</span></th>
            <th><span jhiTranslate="wishApp.billingCard.remark">Remark</span></th>
            <th><span jhiTranslate="wishApp.billingCard.name">Name</span></th>
            <th><span jhiTranslate="wishApp.billingCard.description">Description</span></th>
            <th><span jhiTranslate="wishApp.billingCard.createdBy">Created By</span></th>
            <th><span jhiTranslate="wishApp.billingCard.createdDate">Created Date</span></th>
            <th><span jhiTranslate="wishApp.billingCard.updatedBy">Updated By</span></th>
            <th><span jhiTranslate="wishApp.billingCard.updatedDate">Updated Date</span></th>
            <th><span jhiTranslate="wishApp.billingCard.type">Type</span></th>
            <th><span jhiTranslate="wishApp.billingCard.status">Status</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let billingCard of billingCards ;trackBy: trackId">
                <td><a [routerLink]="['../billing-card', billingCard.id ]">{{billingCard.id}}</a></td>
                <td>{{billingCard.user}}</td>
                <td>{{billingCard.ab}}</td>
                <td>{{billingCard.maxab}}</td>
                <td>{{billingCard.remark}}</td>
                <td>{{billingCard.name}}</td>
                <td>{{billingCard.description}}</td>
                <td>{{billingCard.createdBy}}</td>
                <td>{{billingCard.createdDate | date:'medium'}}</td>
                <td>{{billingCard.updatedBy}}</td>
                <td>{{billingCard.updatedDate | date:'medium'}}</td>
                <td>{{billingCard.type}}</td>
                <td>{{billingCard.status}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../billing-card', billingCard.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'billing-card/'+ billingCard.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'billing-card/'+ billingCard.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
