<div>
    <h2>
        <span class="vivi-middle" jhiTranslate="wishApp.work.home.title">Works</span>
        <button class="btn vivi-btn float-right create-work" [routerLink]="['/', { outlets: { popup: ['work-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="wishApp.work.home.createLabel">
            Create new Work
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'wishApp.work.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div *ngFor="let work of works ;trackBy: trackId" class="col-md-4" style="padding-top: 15px;width:100%">
            <div [routerLink]="['../work', work.id ]" class="vivi-card vivi-work">
                <div class="btn-warning  vivi-icon"  *ngIf="work.status==='待处理'" ></div>
                <div class="btn-primary  vivi-icon" *ngIf="work.status==='处理中'" ></div>
                <div class="btn-danger  vivi-icon"  *ngIf="work.status==='已完成'" ></div>
                <div class="btn-success  vivi-icon" *ngIf="work.status==='已结账'" ></div>
                <div class="vivi-card-body">
                    <div class="vivi-card-type float-right">{{work.status}}</div>
                    <div class="vivi-card-title">{{work.name}}</div>
                    <div class="vivi-card-subtitle">
                        <span >{{work.wm?.name}}</span>
                        <span *ngIf="work.startDate" >{{work.startDate | date:'yyyy/MM/dd'}}-{{work.endDate | date:'yyyy/MM/dd'}}</span>
                    </div>
                    <div class="vivi-card-content">{{work.description}}</div>
                </div>
            </div>

        </div>
    </div>
</div>
