
<div *ngIf="work">
    <h2>
        <button type="submit"
                (click)="previousState()"
                class="btn vivi-btn">
            <span class="fa fa-angle-left"></span>
        </button>
        <span class="vivi-middle" jhiTranslate="wishApp.work.home.title">Works</span>


        <button *ngIf="isStarted" type="button"
                [routerLink]="['/', { outlets: { popup: 'work/'+ work.id + '/edit'} }]"
                replaceUrl="true"
                class="btn vivi-btn float-right">
            <span class="fa fa-pencil"></span>
        </button>
        <button *ngIf="isStarted" [disabled] = "isSaving" type="button"
                (click)="setStatus('处理中')"
                class="btn vivi-btn float-right">
            <span class="fa fa-play"></span>
        </button>
        <button *ngIf="isInProgress" [disabled] = "isSaving" type="button"
                (click)="setStatus('已完成')"
                class="btn vivi-btn float-right">
            <span class="fa fa-check-square-o"></span>
        </button>
        <button *ngIf="isFinished" [disabled] = "isSaving" type="button"
                (click)="setStatus('已结账')"
                class="btn vivi-btn float-right">
            <span class="fa fa-credit-card"></span>
        </button>
    </h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
<!--    <dl class="row-md col-md-4 jh-entity-details">
        <dd>
            <span>{{work.name}}</span>
        </dd>
        <dt><span jhiTranslate="wishApp.work.name">Name</span></dt>
        <dd>
            <span>{{work.startDate | date:'shortDate'}}</span>
        </dd>
        <dt><span jhiTranslate="wishApp.work.startDate">Start Date</span></dt>
        <dd>
            <span>{{work.endDate | date:'shortDate'}}</span>
        </dd>
        <dt><span jhiTranslate="wishApp.work.endDate">End Date</span></dt>
        <dd>
            &lt;!&ndash;<span *ngFor="let serv of work.servs; let last = last">
                <a [routerLink]="['/serv', serv?.id ]">{{serv.name}}</a>{{last ? '' : ', '}}
            </span>&ndash;&gt;
            <div *ngIf="work.buyServ">
                <a [routerLink]="['/serv', work.buyServ?.id ]">{{work.buyServ?.name}}</a>
            </div>

        </dd>
        <dt><span jhiTranslate="wishApp.work.serv">Serv</span></dt>

        <dd>
            <span>{{work.totalPrice}}</span>
        </dd>
        <dt><span jhiTranslate="wishApp.work.totalPrice">Total Price</span></dt>
       &lt;!&ndash; <dd>
            <span>{{work.type}}</span>
        </dd>
        <dt><span jhiTranslate="wishApp.work.type">Type</span></dt>&ndash;&gt;
        <dd>
            <span>{{work.status}}</span>
        </dd>
        <dt><span jhiTranslate="wishApp.work.status">Status</span></dt>

 &lt;!&ndash;       <dt><span jhiTranslate="wishApp.work.createdTime">Created Time</span></dt>
        <dd>
            <span>{{work.createdTime | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="wishApp.work.createdBy">Created By</span></dt>
        <dd>
            <span>{{work.createdBy}}</span>
        </dd>
        <dt><span jhiTranslate="wishApp.work.updatedTime">Updated Time</span></dt>
        <dd>
            <span>{{work.updatedTime | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="wishApp.work.updatedBy">Updated By</span></dt>
        <dd>
            <span>{{work.updatedBy}}</span>
        </dd>&ndash;&gt;
        <dd>
            <div *ngIf="work.wm">
                <a [routerLink]="['/person', work.wm?.id]">{{work.wm?.name}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="wishApp.work.wm">Wm</span></dt>
        <dd>
            <div *ngIf="work.ws">
                <a [routerLink]="['/person', work.ws?.id]">{{work.ws?.name}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="wishApp.work.ws">Ws</span></dt>
        <dd>
            <div *ngIf="work.wf">
                <a [routerLink]="['/person', work.wf?.id]">{{work.wf?.name}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="wishApp.work.wf">Wf</span></dt>
        <dd>
            <span *ngFor="let project of work.projects; let last = last">
                <a [routerLink]="['/project', project?.id ]">{{project.name}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
        <dt><span jhiTranslate="wishApp.work.project">Project</span></dt>

    </dl>-->

    <div class="row-md col-md-4  jh-entity-details">
        <div class="vivi-card-type float-right">{{work.status}}</div>
        <div class="vivi-detail-title">
            <span>{{work.name}}</span>
        </div>
        <div class="vivi-detail-author">
            <span >{{work.wm?.name}}</span>
            <span *ngIf="work.startDate" >{{work.startDate | date:'yyyy/MM/dd'}}-{{work.endDate | date:'yyyy/MM/dd'}}</span>
        </div>

        <div class="vivi-detail-content" *ngIf="work.buyServ">
            <span >购买服务：</span><a [routerLink]="['/serv', work.buyServ?.id ]">{{work.buyServ?.name}}</a>
            <span >-</span><a [routerLink]="['/person', work.buyServ?.sm.id ]">{{work.buyServ?.sm.name}}</a>
        </div>
        <div class="vivi-detail-content" *ngIf="work.ws">
            <span >费用：{{work.totalPrice}}</span>
        </div>
        <div class="vivi-detail-content" *ngIf="work.ws">
            <span >负责人：</span><a [routerLink]="['/person', work.ws?.id]">{{work.ws?.name}}</a>
        </div>
        <div class="vivi-detail-content" *ngIf="work.wf">
            <span >担保人：</span><a [routerLink]="['/person', work.wf?.id]">{{work.wf?.name}}</a>
        </div>
        <div class="vivi-detail-content" *ngIf="work.description">
            <span >购买服务：</span><span>{{work.description}}</span>
        </div>
        <div class="vivi-detail-content" *ngIf="work.projects">
            <span >所属圈子：</span><span *ngFor="let project of work.projects; let last = last">
                <a [routerLink]="['/project', project?.id ]">{{project.name}}</a>{{last ? '' : ', '}}
            </span>
        </div>

    </div>

</div>
