
<div *ngIf="person">

    <h2><span jhiTranslate="wishApp.person.detail.title">Person</span> {{person.name}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md col-md-4  jh-entity-details">
        <!--<dt><span jhiTranslate="wishApp.person.pic">Pic</span></dt>-->
        <dd>
            <div *ngIf="person.pic">
                    <img [src]="'data:' + person.picContentType + ';base64,' + person.pic" style="max-width: 100%;" alt="person image"/>
            </div>
        </dd>
        <dt><span jhiTranslate="wishApp.person.name">Name</span></dt>
        <dd>
            <span>{{person.name}}</span>
        </dd>
        <dt><span jhiTranslate="wishApp.person.email">Email</span></dt>
        <dd>
            <span>{{person.email}}</span>
        </dd>
        <dt *ngIf="person.telephone"><span jhiTranslate="wishApp.person.telephone">Telephone</span></dt>
        <dd *ngIf="person.telephone">
            <span>{{person.telephone}}</span>
        </dd>
        <dt *ngIf="person.description"><span jhiTranslate="wishApp.person.description">Description</span></dt>
        <dd *ngIf="person.description">
            <span>{{person.description}}</span>
        </dd>
        <dt *ngIf="person.homePage"><span jhiTranslate="wishApp.person.homePage">Home Page</span></dt>
        <dd *ngIf="person.homePage">
            <span><a href="{{person.homePage}}" target="_blank">{{person.homePage}}</a></span>
        </dd>
<!--        <dt><span jhiTranslate="wishApp.person.saa">Saa</span></dt>
        <dd>
            <span>{{person.saa}}</span>
        </dd>
        <dt><span jhiTranslate="wishApp.person.sab">Sab</span></dt>
        <dd>
            <span>{{person.sab}}</span>
        </dd>
        <dt><span jhiTranslate="wishApp.person.mac">Mac</span></dt>
        <dd>
            <span>{{person.mac}}</span>
        </dd>
        <dt><span jhiTranslate="wishApp.person.mad">Mad</span></dt>
        <dd>
            <span>{{person.mad}}</span>
        </dd>
        <dt><span jhiTranslate="wishApp.person.lae">Lae</span></dt>
        <dd>
            <span>{{person.lae}}</span>
        </dd>
        <dt><span jhiTranslate="wishApp.person.laf">Laf</span></dt>
        <dd>
            <span>{{person.laf}}</span>
        </dd>
        <dt><span jhiTranslate="wishApp.person.lag">Lag</span></dt>
        <dd>
            <span>{{person.lag}}</span>
        </dd>-->
        <dt *ngIf="person.xlah"><span jhiTranslate="wishApp.person.xlah">Xlah</span></dt>
        <dd *ngIf="person.xlah">
            <span>{{person.xlah}}</span>
        </dd>
        <dt *ngIf="person.xlai"><span jhiTranslate="wishApp.person.xlai">Xlai</span></dt>
        <dd *ngIf="person.xlai">
            <span>{{person.xlai}}</span>
        </dd>
        <dt *ngIf="person.xlaj"><span jhiTranslate="wishApp.person.xlaj">Xlaj</span></dt>
        <dd *ngIf="person.xlaj">
            <span>{{person.xlaj}}</span>
        </dd>
<!--        <dt><span jhiTranslate="wishApp.person.ba">Ba</span></dt>
        <dd>
            <span>{{person.ba | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="wishApp.person.bb">Bb</span></dt>
        <dd>
            <span>{{person.bb | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="wishApp.person.bc">Bc</span></dt>
        <dd>
            <span>{{person.bc | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="wishApp.person.bd">Bd</span></dt>
        <dd>
            <span>{{person.bd | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="wishApp.person.be">Be</span></dt>
        <dd>
            <span>{{person.be | date:'medium'}}</span>
        </dd>-->
        <dt *ngIf="person.type"><span jhiTranslate="wishApp.person.type">Type</span></dt>
        <dd *ngIf="person.type">
            <span>{{person.type}}</span>
        </dd>
        <dt *ngIf="person.status"><span jhiTranslate="wishApp.person.status">Status</span></dt>
        <dd *ngIf="person.status">
            <span>{{person.status}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button *ngIf=isUser type="button"
            [routerLink]="['/', { outlets: { popup: 'person/'+ person.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span  class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>

    <hr>
    <div class="row" *ngIf="hasProjects" >
        <h3 style="margin-left: 15px;">项目</h3>
        <div *ngFor="let project of projects ;trackBy: trackId"  class="col-md-4" style="padding-top: 20px;width:100%">
            <div class="vivi-card vivi-project">
                <div class="btn-warning  vivi-icon"  *ngIf="project.status==='未开始'" ></div>
                <div class="btn-primary  vivi-icon" *ngIf="project.status==='进行中'" ></div>
                <div class="btn-success  vivi-icon"  *ngIf="project.status==='已完成'" ></div>
                <div class="btn-danger  vivi-icon" *ngIf="project.status==='失败'" ></div>
                <div class="vivi-card-body">
                    <h2 class="card-title">{{project.name}}</h2>
                    <h4 class="card-text">{{project.pm?.name}}</h4>
                    <h5 class="card-text">{{project.startDate | date:'yyyy/MM/dd'}}-{{project.endDate | date:'yyyy/MM/dd'}}</h5>
                    <h4 class="card-text">{{project.type}}</h4>
                    <p class="card-text">{{project.description}}</p>
                    <button type="submit"
                            [routerLink]="['/project', project.id ]"
                            class="btn btn-info btn-sm">
                        <span class="fa fa-eye"></span>
                        <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                    </button>
                    <button *ngIf=isUser type="submit"
                            [routerLink]="['/', { outlets: { popup: 'project/'+ project.id + '/edit'} }]"
                            replaceUrl="true"
                            class="btn btn-primary btn-sm">
                        <span class="fa fa-pencil"></span>
                        <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                    </button>
                </div>
            </div>

        </div>
    </div>
    <br>
    <div class="row" *ngIf="hasServs" >
        <h3 style="margin-left: 15px;">服务</h3>
        <div *ngFor="let serv of servs ;trackBy: trackId" class="col-md-4"  style="padding-top: 20px;width:100%">
            <div class="vivi-card vivi-serv">
                <div class="btn-warning  vivi-icon"  *ngIf="serv.status==='准备中'" ></div>
                <div class="btn-success  vivi-icon" *ngIf="serv.status==='已上线'" ></div>
                <div class="btn-primary  vivi-icon"  *ngIf="serv.status==='啊哈'" ></div>
                <div class="btn-danger  vivi-icon" *ngIf="serv.status==='已下线'" ></div>
                <div class="vivi-card-body">
                    <h2 class="card-title">{{serv.name}}</h2>
                    <h4 class="card-text">￥{{serv.price}}</h4>
                    <p class="card-title">{{serv.description}}</p>
                    <button type="submit"
                            [routerLink]="['/serv', serv.id ]"
                            class="btn btn-info btn-sm">
                        <span class="fa fa-eye"></span>
                        <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                    </button>
                    <button *ngIf=isUser type="submit"
                            [routerLink]="['/', { outlets: { popup: 'serv/'+ serv.id + '/edit'} }]"
                            replaceUrl="true"
                            class="btn btn-primary btn-sm">
                        <span class="fa fa-pencil"></span>
                        <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                    </button>
                </div>
            </div>

        </div>
    </div>
<br>
    <div class="row" *ngIf="hasWorks" >
        <h3 style="margin-left: 15px;">事务</h3>
        <div *ngFor="let work of works ;trackBy: trackId"  class="col-md-4" style="padding-top: 20px;width:100%">
            <div class="vivi-card vivi-work">
                <div class="btn-warning  vivi-icon"  *ngIf="work.status==='待处理'" ></div>
                <div class="btn-primary  vivi-icon" *ngIf="work.status==='处理中'" ></div>
                <div class="btn-success vivi-icon"  *ngIf="work.status==='已完成'" ></div>
                <div class="btn-danger  vivi-icon" *ngIf="work.status==='失败'" ></div>
                <div class="vivi-card-body">
                    <h2 class="card-title">{{work.name}}</h2>
                    <h4 class="card-text">{{work.wm?.name}}</h4>
                    <h5 class="card-text">{{work.startDate | date:'yyyy/MM/dd'}}-{{work.endDate | date:'yyyy/MM/dd'}}</h5>
                    <h4 class="card-text">{{work.type}}</h4>
                    <p class="card-text">{{work.description}}</p>
                    <button type="submit"
                            [routerLink]="['/work', work.id ]"
                            class="btn btn-info btn-sm">
                        <span class="fa fa-eye"></span>
                        <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                    </button>
                    <button *ngIf=isUser type="submit"
                            [routerLink]="['/', { outlets: { popup: 'work/'+ work.id + '/edit'} }]"
                            replaceUrl="true"
                            class="btn btn-primary btn-sm">
                        <span class="fa fa-pencil"></span>
                        <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
