
<div *ngIf="person">
    <h2>
        <button type="submit"
                (click)="previousState()"
                class="btn vivi-btn">
            <span class="fa fa-angle-left"></span>
        </button>
        <span class="vivi-middle" jhiTranslate="wishApp.person.detail.title">Person</span>
        <button *ngIf=isUser type="button"
                [routerLink]="['/', { outlets: { popup: 'person/'+ person.id + '/edit'} }]"
                replaceUrl="true"
                class="btn vivi-btn float-right">
            <span  class="fa fa-pencil"></span>
        </button>

        <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="button"
                [routerLink]="['/', { outlets: { popup: 'person/'+ person.id + '/edit'} }]"
                replaceUrl="true"
                class="btn vivi-btn float-right">
            <span  class="fa fa-pencil"></span>
        </button>
        <button *ngIf="!isFriend" [disabled] = "isSaving" type="button"
                (click)="addFriend()"
                class="btn vivi-btn float-right">
            <span class="fa fa-credit-card"></span>
        </button>
    </h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <div class="row-md col-md-4  jh-entity-details">
        <div>
            <div *ngIf="person.pic">
                    <img [src]="'data:' + person.picContentType + ';base64,' + person.pic" style="max-width: 100%;" alt="person image"/>
            </div>
        </div>
        <div class="vivi-detail-title">
            <span>{{person.name}}</span>
        </div>
        <div class="vivi-detail-author">
            <span>{{person.email}}</span>
        </div>
        <div class="vivi-detail-author" *ngIf="person.telephone">
            <span>{{person.telephone}}</span>
        </div>
         <div class="vivi-detail-author" *ngIf="person.saa">
            <span><a href="{{person.saa}}" target="_blank">{{person.saa}}</a></span>
        </div>
        <div class="vivi-detail-content" *ngIf="person.description">
            <span>{{person.description}}</span>
        </div>
        <div class="vivi-detail-content" *ngIf="person.xlah">
            <span>{{person.xlah}}</span>
        </div>
        <div class="vivi-detail-content" *ngIf="person.xlai">
            <span>{{person.xlai}}</span>
        </div>
         <div class="vivi-detail-content" *ngIf="person.xlaj">
            <span>{{person.xlaj}}</span>
        </div>
        <div *ngIf="person.type">
            <span>{{person.type}}</span>
        </div>
        <div *ngIf="person.status">
            <span>{{person.status}}</span>
        </div>
    </div>



    <hr>
    <h5 *ngIf="hasProjects" style="margin-left: 15px;">项目</h5>
    <div class="row" *ngIf="hasProjects" >

        <div *ngFor="let project of projects ;trackBy: trackId"  class="col-md-4" style="padding-top: 15px;width:100%">
            <div [routerLink]="['/project', project.id ]" class="vivi-card vivi-project">
                <div class="btn-warning  vivi-icon"  *ngIf="project.status==='未开始'" ></div>
                <div class="btn-primary  vivi-icon" *ngIf="project.status==='进行中'" ></div>
                <div class="btn-success  vivi-icon"  *ngIf="project.status==='已完成'" ></div>
                <div class="btn-danger  vivi-icon" *ngIf="project.status==='失败'" ></div>
                <div class="vivi-card-body">
                    <div class="vivi-card-type float-right">{{project.type}}</div>
                    <div class="vivi-card-title">{{project.name}}</div>
                    <div class="vivi-card-subtitle">
                        <span >{{project.pm?.name}}</span>
                        <span *ngIf="project.startDate" >{{project.startDate | date:'yyyy/MM/div'}}-{{project.endivate | date:'yyyy/MM/div'}}</span>
                    </div>
                    <div class="vivi-card-content">{{project.description}}</div>
                   <!-- <button type="submit"
                            [routerLink]="['/project', project.id ]"
                            class="btn btn-info btn-sm">
                        <span class="fa fa-eye"></span>
                        <span class="hidiven-md-down" jhiTranslate="entity.action.view">View</span>
                    </button>
                    <button *ngIf=isUser type="submit"
                            [routerLink]="['/', { outlets: { popup: 'project/'+ project.id + '/edit'} }]"
                            replaceUrl="true"
                            class="btn btn-primary btn-sm">
                        <span class="fa fa-pencil"></span>
                        <span class="hidiven-md-down" jhiTranslate="entity.action.edit">Edit</span>
                    </button>-->
                </div>
            </div>

        </div>
    </div>
    <br>
    <h5 *ngIf="hasServs"  style="margin-left: 15px;">服务</h5>
    <div class="row" *ngIf="hasServs" >
        <div *ngFor="let serv of servs ;trackBy: trackId" class="col-md-4"  style="padding-top: 15px;width:100%">
            <div [routerLink]="['/serv', serv.id ]" class="vivi-card vivi-serv">
                <div class="btn-warning  vivi-icon"  *ngIf="serv.status==='准备中'" ></div>
                <div class="btn-success  vivi-icon" *ngIf="serv.status==='已上线'" ></div>
                <div class="btn-primary  vivi-icon"  *ngIf="serv.status==='啊哈'" ></div>
                <div class="btn-danger  vivi-icon" *ngIf="serv.status==='已下线'" ></div>
                <div class="vivi-card-body">
                    <div class="vivi-card-type float-right">{{serv.type}}</div>
                    <div class="vivi-card-title">{{serv.name}}</div>
                    <div class="vivi-card-subtitle">
                        <span>￥{{serv.price}}{{serv.unit}}</span>
                        <span>{{serv.sm.name}}</span>
                    </div>
                    <div class="vivi-card-content">{{serv.description}}</div>
                    <!--<button type="submit"
                            [routerLink]="['/serv', serv.id ]"
                            class="btn btn-info btn-sm">
                        <span class="fa fa-eye"></span>
                        <span class="hidiven-md-down" jhiTranslate="entity.action.view">View</span>
                    </button>
                    <button *ngIf=isUser type="submit"
                            [routerLink]="['/', { outlets: { popup: 'serv/'+ serv.id + '/edit'} }]"
                            replaceUrl="true"
                            class="btn btn-primary btn-sm">
                        <span class="fa fa-pencil"></span>
                        <span class="hidiven-md-down" jhiTranslate="entity.action.edit">Edit</span>
                    </button>-->
                </div>
            </div>

        </div>
    </div>
<br>
    <h5 *ngIf="hasWorks" style="margin-left: 15px;">合约</h5>
    <div class="row" *ngIf="hasWorks" >
        <div *ngFor="let work of works ;trackBy: trackId"  class="col-md-4" style="padding-top: 15px;width:100%">
            <div [routerLink]="['/work', work.id ]" class="vivi-card vivi-work">
                <div class="btn-warning  vivi-icon"  *ngIf="work.status==='待处理'" ></div>
                <div class="btn-primary  vivi-icon" *ngIf="work.status==='处理中'" ></div>
                <div class="btn-success vivi-icon"  *ngIf="work.status==='已完成'" ></div>
                <div class="btn-danger  vivi-icon" *ngIf="work.status==='失败'" ></div>
                <div class="vivi-card-body">
                    <div class="vivi-card-type float-right">{{work.type}}</div>
                    <div class="vivi-card-title">{{work.name}}</div>
                    <div class="vivi-card-subtitle">
                        <span >{{work.wm?.name}}</span>
                        <span *ngIf="work.startDate" >{{work.startDate | date:'yyyy/MM/div'}}-{{work.endivate | date:'yyyy/MM/div'}}</span>
                    </div>
                    <div class="vivi-card-content">{{work.description}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
