<div class="row">
<!--    <div class="col-md-3">
        <span class="hipster img-fluid img-rounded"></span>
    </div>-->
    <div class="col-md-12">
        <h3 jhiTranslate="home.title">Welcome, Java Hipster!</h3>
<!--
        <p class="lead" jhiTranslate="home.subtitle">This is your homepage</p>
-->

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span *ngIf="account" jhiTranslate="home.logged.message"
                      translateValues="{username: '{{account.login}}'}"> You are logged in as user "{{account.login}}". </span>
            </div>
            <div class="alert alert-warning" *ngSwitchCase="false">
                <span jhiTranslate="global.messages.info.authenticated.prefix">If you want to </span>
                <a class="alert-link" (click)="login()" jhiTranslate="global.messages.info.authenticated.link">sign in</a>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span>
                <a class="alert-link" routerLink="register" jhiTranslate="global.messages.info.register.link">Register a new account</a>
            </div>
        </div>
        <div class="row">
            <div *ngFor="let work of works ;trackBy: trackId" class="col-md-4" style="padding-top: 15px;width:100%">
                <div class="vivi-card vivi-work">
                    <div class="btn-warning  vivi-icon"  *ngIf="work.status==='待处理'" ></div>
                    <div class="btn-primary  vivi-icon" *ngIf="work.status==='处理中'" ></div>
                    <div class="btn-success vivi-icon"  *ngIf="work.status==='已完成'" ></div>
                    <div class="btn-danger  vivi-icon" *ngIf="work.status==='失败'" ></div>
                    <div class="vivi-card-body">
                        <h2 class="card-title">{{work.name}}</h2>
                        <h4 class="card-text">{{work.wm?.name}}</h4>
                        <h5 class="card-text">{{work.startDate | date:'yyyy/MM/dd'}}-{{work.endDate | date:'yyyy/MM/dd'}}</h5>
                        <h4 class="card-text">{{work.type}}</h4>
                        <p class="card-text">{{work.description}}</p>
                        <button type="submit"
                                [routerLink]="['../work', work.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'work/'+ work.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
