<div *ngIf="serv">
    <h2>
        <button type="submit"
                (click)="previousState()"
                class="btn vivi-btn">
            <span class="fa fa-angle-left"></span>
        </button>
        <span class="vivi-middle" jhiTranslate="wishApp.serv.detail.title">Serv</span>
        <button *ngIf="isManager" type="button"
                [routerLink]="['/', { outlets: { popup: 'serv/'+ serv.id + '/edit'} }]"
                replaceUrl="true"
                class="btn vivi-btn float-right">
            <span class="fa fa-pencil"></span>
        </button>

        <button *ngIf="!isManager" class="btn vivi-btn create-work float-right" [routerLink]="['/', { outlets: { popup: ['work-new'] } }]">
            <span class="fa fa-shopping-cart"></span>
        </button>

        <button *ngIf="!isManager" type="button"
                (click)="becomeAnAgent()"
                class="btn vivi-btn float-right">
            <span class="fa fa-building"></span>
        </button>
    </h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <div class="row-md col-md-4  jh-entity-details">
        <div class="vivi-detail-title">
            <span>{{serv.name}}</span>
        </div>
        <div class="vivi-detail-author" *ngIf="serv.sm">
            <span>{{serv.price}}</span><span>{{serv.unit}}</span>
        </div>
        <div class="vivi-detail-author" *ngIf="serv.sm">
            <a [routerLink]="['/person', serv.sm?.id]">{{serv.sm?.name}}</a>
        </div>
        <div class="vivi-detail-content" *ngIf="serv.description">
            <span>{{serv.description}}</span>
        </div>
        <div class="vivi-detail-content" *ngIf="serv.description">
            <span>{{serv.terma}}</span>
        </div>
    </div>
</div>
